input[type=text].form-control, input[type=email].form-control, input[type=number].form-control{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
form .btn-round{
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    padding: .5rem 3rem;
    margin-left: 10px;
}
.d-flex .form-group{
    margin-bottom: 0;
}